{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Shola Japheth</title>
    <link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body h-100  border-info" id="profile-wrapper">
                <img id="profile-pic" src="{% static 'images/shola.jpg' %}">
                <hr>
                <h4>Hi I'm Shola!</h4>
                <p>I love coding, doing research, collaborating and 🍴</p>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card card-body h-100  border-info">
                <h4>My Experience as a Developer</h4>
                <hr>
                <p>A seasoned mobile app developer with vast experience in React Native and Kotlin Jetpack Compose, I
                    possess a deep understanding
                    of mobile app development and the nuances involved in building scalable, high-performing, and
                    user-friendly
                    applications. I have worked on numerous projects, ranging from small-scale to enterprise-level,
                    delivering
                    exceptional results to my clients.</p>

                <p>In my years of experience, I have honed my skills in developing mobile apps that seamlessly integrate
                    with
                    various APIs, third-party services, and platforms. I possess a deep understanding of cross-platform
                    mobile app
                    development and have leveraged React Native to build applications for iOS and Android platforms.</p>

                <p>In addition to my development skills, I am proficient in conducting code reviews, identifying bugs
                    and performance
                    bottlenecks, and proposing effective solutions to optimize app performance. I have also mentored
                    junior
                    developers, contributing to their growth and helping them acquire critical skills needed in the
                    industry.</p>

                <ul class="social-links">
                    <li><a href="https://www.linkedin.com/in/shola-japheth/" target="_blank" ><img class="social" src="{% static 'images/linkedin.png' %}"> </a> </li>
                    <li><a href="https://www.github.com/sholajapheth/" target="_blank" ><img class="social" src="{% static 'images/github.jpg' %}"> </a> </li>
                    <li><a href="https://twitter.com/sholajapheth" target="_blank" ><img class="social" src="{% static 'images/x.png' %}"> </a> </li>

                </ul>

            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body h-100">
                <h5>My Experience as a Developer</h5>
                <hr>
                <p>Full stack developer at MTNN.</p>
                <p>Designed, built and managed Web and Mobile Apps including Sim Self Registration with Ai SDK
                    intergration.</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-body h-100">
                <h5>What I Know</h5>
                <hr>
                <p>Python, Django, Kotlin, Javascript, C#, HTML/CSS, JavaScript/Jquery, React, React Native, Nextjs,
                    Postgres, APIs such as google maps,
                    JavaScript charts and a whole bunch more I can’t possibly mention in one sentence! ;)</p>
                <p>PS: Working on Node JS, Python, Kotlin, Mongo DB and Machine Learning.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body h-100">
                <h5>How I Learn</h5>
                <hr>
                <p>When the need arises I fly.</p>

                <p>I can learn just about anything by having an urgency and need for it, I can quiakly pick up a new tech
                    such as thie django and kotlin when there is a huge need for it, discovered learning them on my own
                    with no sense of urgency never works .</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-body h-100">
                <h5>My Short Term Goals</h5>
                <hr>
                <p>Get into management, get big gigs, make cool tech money.</p>
                <p>Get an inteligent tech babe😁(just kiddding).</p>
                <p>Aside from building small projects I would love to enter a position where I can be part of a bigger
                    team & learn from others with more experience than myself.</p>

            </div>
        </div>
    </div>
    <br>
</div>


</body>
</html>